.divStyle{
    margin: 3px;
    padding: 14px 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #333;
    width: 600px;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    