nav{
  background-color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
li p {
  background-color: rgb(255, 255, 255);
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size:20px;      
}  
li p:hover {
  background-color: rgb(178, 181, 233);
  color: azure;
  cursor:pointer;   
}
li{  
  float: left;  
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  text-decoration: none;

  }

